
.env
.env.backup
/vendor
/node_modules
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
Thumbs.db
.DS_Store
/.idea
/.vscode
*.swp
*.swo
/public/build   
/public/hot
/public/storage
/public/mix-manifest.json

*.log
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet

/.nova
/.phpunit.cache

/.zed
/auth.json

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml

